.recommend {
  // margin-top: 120px;
  padding: 120px 70px 0;
  height: 100vh;
  // height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: fixed;
    top: 80px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 80px);
    background-image: url("../../../assets/map/distBg.svg");
    background-repeat: repeat;
    background-size: 25px 25px;
    background-color: #4d8477;
    opacity: 0.8;
    z-index: -1;
  }

  @media (max-width: 1250px) {
    height: auto;
  }

  .content {
    display: flex;
    align-items: center;
  }

  .districtImg {
    flex: 1;
  }

  .popular {
    flex: 2;
    padding-left: 40px;
    .title {
      font-size: 32px;
      font-weight: bold;
      color: #fff;
      padding-bottom: 20px;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }
    .btn {
      margin: 20px 0;
      .btnBg {
        background-color: #d19666;
        height: 50px;
        width: 150px;
        display: block;
        margin: auto;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 2px;
        transition: all 0.3s ease-out;

        &:hover {
          background-color: #f0b07c;
        }

        button {
          margin: auto;
          background-color: transparent;
          color: #7b4519;
          font-size: 24px;
          font-weight: 800;
          border: 3px solid #7b4519;
          width: 140px;
          height: 40px;
          cursor: pointer;
          border-radius: 2px;
        }
      }
    }
  }
}

// section filter
.filter {
  height: calc(100vh - 80px);
  background-image: url("/paper-texture.png");
  background-repeat: repeat;
  background-size: cover;
  background-color: #122f30;
  background-blend-mode: overlay;
  padding: 0 80px;
  padding-top: 20px;

  .main {
    .tags {
      display: flex;
      justify-content: center;
      gap: 8px;

      .tag {
        background-color: #904118;
        border: #bc7c33 1px solid;
        color: #fff1cb;
        height: 50px;
        font-weight: 600;
        padding: 10px 15px;
        font-size: 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: 0.2s background-color ease-in;

        &:hover {
          background-color: #9e4a1d;
        }

        &.active {
          border: #f2dab2 3px solid;
          border-radius: 2px;
        }

        .cross {
          width: 24px;
          padding-left: 8px;
        }
      }

      // .areasTag {
      //   position: relative;
      //   .areas {
      //     position: absolute;
      //     left: 0;
      //     background-color: #904118;
      //     border: #bc7c33 1px solid;
      //     color: #fff1cb;
      //     font-size: 15px;
      //     width: 150px;
      //     // display: flex;
      //     // flex-wrap: wrap;

      //     .options {
      //       padding: 8px;
      //       display: flex;
      //       align-items: center;

      //       // .customCheckbox {
      //         // display: inline-flex;
      //         // align-items: center;

      //         input[type="checkbox"] {
      //           // display: none;
      //           cursor: pointer;
      //           width: 20px;
      //           height: 20px;
      //           margin-right: 10px;
      //         }
      //       // }
      //     }
      //   }
      // }
    }
    .content {
      display: flex;
      justify-content: space-between;
      height: 70vh;
      overflow: hidden;
      padding-top: 30px;
      gap: 20px;

      .cards {
        width: 60%;
        height: 100%;
        gap: 10px;
        overflow-y: auto;
        scrollbar-color: #fff1cb transparent;
      }

      .map {
        width: 40%;
        height: 100%;
      }
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
}