.profile-page {
  display: flex;
  padding: 110px 70px 30px;
  gap: 20px;
}

/* 左側：功能選單欄 */
.sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 200px;
  gap: 16px;

  /* 按鈕樣式統一：我的收藏、訂單狀態、瀏覽紀錄、登出 */
  .button-style {
    display: flex;
    width: 110px;
    height: 50px;
    padding: 20px 16px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 3px solid #a77434;
    border-radius: 2px;
    background: none;
    color: #fff0c8;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    &:hover {
      background-color: #a77434;
      color: #fff;
    }
  }

  .active {
    background-color: #a77434;
    color: #fff;
  }

  .logout-btn {
    border: 3px solid #814646;
    &:hover {
      background-color: #814646;
      color: #fff;
    }
  }
}

/* 右側區塊（上下分） */
.right-content {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

// .top-section {
//   display: flex;
//   justify-content: flex-end;
//   align-items: flex-start;
//   gap: 40px;

//   .favorite-item {
//     text-align: center;
//     font-size: 16px;
//     color: #fff0c8;
//     position: relative;

//     .count {
//       font-size: 38px;

//       color: #fff0c8; // 或你原本的強調色
//       margin-top: 4px;
//       display: block;
//     }
//   }
// }

/* 右中下區塊（主內容） */
.main-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .favorite {
    width: 100%;
    .top-section {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 40px;
      color: #fff0c8;

      .favorite-item {
        text-align: center;
        font-size: 16px;
        position: relative;

        .count {
          font-size: 38px;
          margin-top: 4px;
          display: block;
        }
      }
    }
    .cards,
    .products {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      height: 70vh;
      overflow-y: auto;
      scrollbar-color: #fff1cb transparent;
    }
  }

  .profile {
    .edit {
      display: flex;
      align-items: center;

      .MuiTextField-root {
        flex: 1; // 讓 TextField 吃滿剩下寬度
      }

      .edit-icon-container {
        margin-left: 8px;
        cursor: pointer;
        width: 30px;
      }
    }
  }
}

.count {
  display: flex;
  gap: 20px;
}

.count-item {
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
  color: #fff0c8;
}

.count-item:hover {
  border-bottom: #fff0c8 2px solid;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  transition-property: all;
}

.count-item span {
  display: block;
  margin-bottom: 4px;
}

/* 使用者名稱欄 */
.username {
  margin: 24px 0;
  font-size: 24px;
  color: #fff0c8;
}
