@charset "UTF-8";
.about {
  padding: 0;
}
.about__content {
  margin: 0 auto;
  text-align: center;
  padding-top: 6rem;
}
.about__subtitle {
  font-size: 1.8rem;
  margin: 2rem 0 1rem;
  font-weight: 600;
}
.about p {
  margin-bottom: 1.2rem;
  line-height: 1.8;
  font-size: 1rem;
  color: #FFF1CB;
  line-height: 215%;
  letter-spacing: 4.8px;
  /* 可根據需要微調 */
}
.about #nav {
  display: flex;
  line-height: 400%;
  color: #FFF1CB;
  text-align: center;
  margin-bottom: 2rem;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-end;
}
.about__image {
  max-width: 300px;
  margin: 2rem auto;
  display: block;
  border-radius: 12px;
}
.about__imagegroup {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
  margin: 2rem 3rem;
}
@media (max-width: 500px) {
  .about__imagegroup {
    margin: 2rem 0.8rem;
  }
}
.about__imagegirl {
  border-radius: 99px;
  max-width: 350px;
}
.about__button {
  display: inline-block;
  margin: 2rem;
  padding: 0.75rem 1.5rem;
  border: 2px solid #FFF1CB;
  color: #FFF1CB;
  font-weight: bold;
  border-radius: 2px;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
}
.about__button:hover {
  background-color: #904118;
  border-color: #904118;
  /* 邊框顏色變化 */
}
@media (max-width: 1024px) {
  .about__subtitle {
    font-size: 1.6rem;
  }
  .about p {
    font-size: 0.95rem;
    letter-spacing: 3px;
  }
  .about__imagegroup {
    justify-content: center;
    gap: 1.5rem;
  }
  .about__imagegroup__imagegirl {
    width: 250px;
    height: 160px;
  }
}
@media (max-width: 768px) {
  .about__subtitle {
    font-size: 1.4rem;
  }
  .about p {
    font-size: 0.9rem;
    letter-spacing: 2px;
  }
  .about__imagegroup__imagegirl {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
  }
  .about__image {
    height: 75%;
    width: 50%;
  }
  .about #nav {
    top: 10%;
    line-height: 300%;
  }
}
@media (max-width: 430px) {
  .about .about__content {
    padding: 10px 20px;
  }
  .about__imagegroup__imagegirl {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
  }
  .about__subtitle {
    font-size: 1rem;
  }
  .about p {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  .about__button {
    width: 50%;
    margin: 10 10 10 10;
  }
}