@use "variable" as *;

/* 島嶼月報 all */
#news,
#findArticles,
#findEvent,
.article-detail-page,
.event-detail-page {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  font-size: $fontsize;
  width: 100%;
  align-self: center;

  @media ($media-1920) {

    padding: 100px 170px;
  }

  @media ($media-820) {
    padding: 80px 48px;
  }

  @media ($media-640) {
    padding: 80px 24px;
  }

  nav {
    display: flex;
    align-self: center;
  }

  li {
    gap: 24px
  }

  * {
    color: $textcolor;
  }

  /* h1 */
  .title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 32px;
    // 置右
    width: 100%;
    text-align: right;
    line-height: 1.6rem;
  }

  h1 {
    text-align: left;
  }

  h2 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 8px;

  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;

  }

  .tagName {
    align-self: stretch;
    color: $tagcolor;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.84px;
    line-height: 0.8rem;
  }

  /* nav */
  .nav-news {
    // position: sticky;
    top: 80px;
    display: flex;

    a {
      margin: 10px;
      padding: 5px 0;
      border-bottom: 2px solid transparent;
      transition: all .35s;
      cursor: pointer;
      color: $textcolor;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 16px;

      &:hover {
        color: $primary_1;
        border-bottom: 2px solid $bordercolor;
      }
    }

    ul {
      display: flex;
      gap: 24px;
    }

  }
}

.event-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;

  figure {
    display: block;
    height: 400px;
    flex-shrink: 0;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
      border-radius: 4px;
    }
  }

  .event-tags {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
  }

  .title-container {
    height: 2rem;
  }
}

/* 島嶼月報 */
#news>main {
  width: 100%;
  padding: 0px;
  align-self: center;
  display: flex;
  flex-direction: column;

  /* 封面故事 */

  .cover-story {
    width: 100%;
    display: flex;
    padding: 48px 0px;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;

    .cover-img {
      border: 1px solid $textcolor;
      width: 100%;
      object-fit: cover;
      height: 400px;
      align-self: stretch;

    }

  }

  /* feature (section) */

  .section-row {

    display: flex;
    justify-content: space-between; // 讓左右有空間
    gap: 80px; // 中間間距  

    width: 100%;
    align-self: stretch;
  }

  .section-row>section:first-child {
    flex: 2; // 左邊：佔 2 份
  }

  .section-row>section:last-child {
    display: flex;
    flex: 1; // 右邊：佔 1 份
    align-items: flex-start;
  }

  /* feature左欄 */

  .section-row {

    .feature {
      color: $textcolor;

      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.84px;

      display: flex;
      // width: 700px;
      padding-bottom: 36px;
      flex-direction: column;
      align-items: flex-start;
      gap: 36px;
    }


    .feature1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      align-self: stretch;

      img {
        // height: 300px;
        align-self: stretch;
      }

      p {
        color: $textcolor;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.6px;
      }
    }

    .newest {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;

      .new-cards {
        display: flex;
        height: 353px;
        align-items: center;
        gap: 35px;

        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 10px;
          flex: 1 0 0;

          img {
            height: 240px;
            align-self: stretch;
          }

          h3 {
            height: 50px;
            align-self: stretch;
          }
        }
      }
    }
  }


  /* feature右欄 */

  .recommendation {
    width: 100%;
    display: flex;
    width: 100%;
    height: 748px;
    padding: 24px;
    flex-direction: column;
    gap: 12px;
    flex-shrink: 0;
    border: 1px solid $bordercolor;
    margin-top: 56px;

    a {
      border-bottom: 1px solid $bordercolor;
    }

    h2 {
      text-align: center;
      color: $textcolor;

      text-align: center;

      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 24px;
    }


    .reco-card {
      display: flex;
      width: 100%;
      max-height: 200px;
      padding: 36px 0px;
      align-items: center;
      gap: 24px;
      align-self: stretch;


      img {
        height: 88px;
        width: 132px;
        flex: 1 0 0;
      }

      .reco-card-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        flex: 1 0 0;
      }
    }

    .reco-button {
      width: 100%;
      display: flex;
      margin: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .reco-button a {
      position: relative;
      display: flex;
      padding: 15px 60px;
      justify-content: center;

      font-weight: 900;
      color: $btn-color;
      border-radius: 2px;
      border: 3px solid $btn-color;
      background-color: #E1BB98;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 1;

      // 疊上透明背景圖（紙張材質）
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url('/paper-texture.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.3; // 材質透明度 30%
        z-index: 1;
        transition: background-color 0.3s, opacity 0.3s;
      }

      &:hover {
        color: $textcolor;
        border: 2px solid $bordercolor;
        background-color: #7B4519;
      }
    }

  }

  /* 月報Events */
  .events {
    width: 100%;
    display: flex;
    padding: 48px 0px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    .event-title {
      display: flex;
      padding: 0px 389px;
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }

    .event-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      /* 桌機：每列3欄 */
      align-items: center;
      gap: 64px 36px;

      @media screen and (max-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 54px 24px;
        /* 平板：2欄 */
      }

      @media screen and (max-width: 600px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 54px 24px;
        /* 手機：1欄 */
      }

      .event-card {

        // 顯示3張，第4張以後不顯示
        &:nth-child(n+4) {
          display: none;
        }
      }
    }

    .event-btn a {
      position: relative;
      display: flex;
      padding: 15px 60px;
      justify-content: center;

      font-weight: 900;
      color: $btn-color;
      border-radius: 2px;
      border: 3px solid $btn-color;
      background-color: #E1BB98;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 1;

      // 疊上透明背景圖（紙張材質）
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url('/paper-texture.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.3; // 材質透明度 30%
        z-index: 1;
        transition: background-color 0.3s, opacity 0.3s;
      }

      &:hover {
        color: $textcolor;
        border: 2px solid $bordercolor;
        background-color: #7B4519;
      }
    }
  }



}

/* Top */
.top-btn {
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 1000;

  svg {
    width: 40px;
    height: auto;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }

  }
}




/* 閱讀文章 */
#article {
  display: flex;
  padding: 0px;
  flex-direction: column;


  /* 關鍵字搜尋 */
  .searchBar {
    display: flex;
    padding: 24px 320px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    input {
      background-color: transparent;
      display: flex;
      width: 400px;
      height: 40px;
      padding: 0px 20px;
      gap: 10px;
      color: $textcolor;
      border-radius: 2px;
      border: 2px solid $bordercolor;
      transition: border-color 0.3s, color 0.3s;

      &::placeholder {
        color: $textcolor;
        font-size: 14px;
      }

      &:hover {
        color: $primary_1;
        border: 2px solid $primary_1;
      }

      &:focus {
        outline: 2px solid $primary_1;
      }
    }
  }



  .sec1,
  .sec2 {
    display: flex;
    padding: 36px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;



    .articleCard {
      display: flex;
      padding: 40px 0px;
      align-items: center;
      gap: 30px;
      align-self: stretch;

      border-bottom: 1px solid $bordercolor;

      img {
        display: flex;
        width: 290px;
        height: 170px;
        // align-items: center;
        // flex: 1 0 0;
      }

      .articleCardText {
        display: flex;
        // width: 780px;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;

        h1 {
          font-size: 32px;
          letter-spacing: $letter-spacing-s;

          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          align-self: stretch;
        }

        p {
          line-height: 2rem;

          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;

          overflow: hidden;
          text-overflow: ellipsis;
          align-self: stretch;
        }
      }


    }

    // 頁碼
    .pageNumberArea {
      display: flex;
      padding: 36px 0px;
      align-items: center;
      gap: 24px;
      align-self: stretch;

      border-bottom: 1px solid $bordercolor;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex: 1 0 0;
      }
    }
  }

  #article .sec2 {
    .title {
      font-size: 24px;
      padding: 0%;
    }
  }
}

/* 文章內頁 */
.article-detail-page {
  color: $textcolor;
  padding: 100px 40px;

  .title-container {
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;

    p {
      font-size: 14px;
      font-weight: 700;
      line-height: 160%;
      letter-spacing: 0.224px;
    }

    h2 {
      font-size: 32px;
      font-weight: 700;
      line-height: 160%;
      letter-spacing: 0.512px;
    }

    // 封面圖
    figure {
      width: 100%;
      overflow: hidden;

      img {
        object-fit: cover;
        height: 100%;
      }
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    padding: 36px 0px;

    p {
      font-size: 15px;
      font-weight: 700;
      line-height: 160%;
      letter-spacing: 0.24px;
    }

    figure {
      height: 32vh;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;

    .info-text-container {
      display: flex;
      width: 100%;
      height: 50%;
      padding: 36px 0px;
      align-items: center;
      gap: 24px;
    }
  }

  .article-buttonGroup-container {
    display: flex;
    align-items: center;
    gap: 24px;

    .article-button-container {
      button {
        border-radius: 2px;
        border: 3px solid $textcolor;
        background-color: transparent;

        display: flex;
        width: 200px;
        height: 80px;
        padding: 20px 0px;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        &:hover {
          color: $primary_1;
          border: 2px solid $bordercolor;
        }
      }

    }
  }

}

/* 找活動 */
#findEvent {
  main {
    display: flex;
    padding: 0px;
    flex-direction: column;
    align-items: center;

    .events {

      display: flex;
      // padding: 36px 0px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 48px;
      align-self: stretch;

      .event-title {
        display: flex;
        padding-bottom: 48px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        align-self: stretch;
      }

      .event-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* 桌機：每列3欄 */
        align-items: center;
        gap: 64px 36px;
        // padding-top: 48px;

        @media screen and (max-width: 1024px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 54px 24px;
          /* 平板：2欄 */
        }

        @media screen and (max-width: 600px) {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 54px 24px;
          /* 手機：1欄 */
        }


        //         // .event-card {
        //         //   display: flex;
        //         //   flex-direction: column;
        //         //   justify-content: center;
        //         //   align-items: flex-start;
        //         //   gap: 12px;
        //         //   flex: 1 0 0;

        // <<<<<<< HEAD
        //         //   border: 1px solid $textcolor;
        //         //   border-radius: 16px;
        //         //   padding: 32px 24px;
        //         //   background-color: rgb(104, 50, 5);

        //         //   figure {
        //         //     // display: block;
        //         //     display: flex;
        //         //     justify-content: center;
        //         //     align-items: center;
        //         //     height: 280px;
        //         //     flex-shrink: 0;
        //         //     overflow: hidden;
        //         //     // border: 1px solid red;


        //         //     img {
        //         //       object-fit: contain;
        //         //       height: 100%;
        //         //       border-radius: 4px;
        //         //     }
        //         //   }
        // =======
        //           // border: 1px solid $textcolor;
        //           // border-radius: 16px;
        //           padding: 32px 24px;
        //           // background-color: rgb(104, 50, 5);

        //           figure {
        //             display: block;
        //             width: 100%;
        //             // display: flex;
        //             justify-content: center;
        //             align-items: center;
        //             height: 280px;
        //             flex-shrink: 0;
        //             overflow: hidden;
        //             // border: 1px solid red;


        //             img {
        //               object-fit:contain;

        //               height: 100%;
        //               border-radius: 4px;
        //             }
        //           }
        // >>>>>>> 332eda41000914ed522d0a37ed04bc41f670c1c7

        //         //   .title-container {
        //         //     height: 90px;
        //         //   }

        //         //   .event-tags {
        //         //     display: flex;
        //         //     align-items: center;
        //         //     gap: 12px;
        //         //     align-self: stretch;
        //         //   }
        //         // }


      }

    }
  }


  .filterBar {

    display: flex;
    padding: 48px 320px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;

    .timeBar {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 36px;
      align-self: stretch;

      div {
        display: flex;
        width: 363px;
        align-items: center;
        gap: 20px;

        .time {

          display: flex;
          height: 40px;
          padding: 0px 20px;
          justify-content: center;
          align-items: center;
          gap: 10px;

          border-radius: 2px;
          border: 1px solid $bordercolor;

          p {
            display: flex;
            color: $textcolor;

            &:hover {
              color: $primary_1;
            }
          }

          &:hover {

            border: 2px solid $primary_1;
          }

        }
      }
    }

    /* 關鍵字搜尋 */
    .searchBar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: stretch;

      input {
        background-color: transparent;
        display: flex;
        width: 400px;
        height: 40px;
        padding: 0px 20px;
        gap: 10px;
        color: $textcolor;
        border-radius: 2px;
        border: 2px solid $bordercolor;
        transition: border-color 0.3s, color 0.3s;

        &::placeholder {
          color: $textcolor;
          font-size: 14px;
        }

        &:hover {
          color: $primary_1;
          border: 2px solid $primary_1;
        }

        &:focus {
          outline: 2px solid $primary_1;
        }
      }
    }
  }



  // 頁碼
  .pageNumberArea {
    display: flex;
    padding: 36px 0px;
    align-items: center;
    gap: 24px;
    align-self: stretch;

    border-bottom: 1px solid $bordercolor;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      flex: 1 0 0;
    }
  }


}

@media screen and (max-width: 820px) {
  #news>main .section-row {
    flex-direction: column;
    height: auto;

    section:first-child,
    section:last-child {
      width: 100%;
      flex: unset;
    }

    .feature {
      width: 100%;
    }

    .recommendation {
      width: 100%;
      height: auto;
      margin-top: 36px;
    }
  }
}

@media screen and (max-width: 640px) {
  #news>main .new-cards {
    flex-direction: column;
    height: auto;

    div {
      width: 100%;
    }
  }
}

@media screen and (max-width: 640px) {
  #article .articleCard {
    flex-direction: column;
    align-items: flex-start;

    img {
      width: 100%;
      height: auto;
    }

    .articleCardText {
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: 640px) {

  #article .searchBar,
  #findEvent .filterBar {
    padding: 0 20px;

    input {
      width: 100%;
    }
  }
}

@media screen and (max-width: 640px) {
  .top-btn {
    bottom: 20px;
    right: 20px;

    svg {
      width: 30px;
    }
  }
}