header {
  display: flex;
  height: 80px;
  width: 100%;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  // background-color: #002c28;

  &::before {
    content: "";
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("/paper-texture.png");
    background-color: #122f30;
    background-repeat: repeat;
    background-size: cover;
    background-blend-mode: overlay;
    z-index: -10;
  }

  .logo {
    width: 130px;
  }

  .navLink {
    margin-right: 30px;

    .navItem {
      margin: 0 30px;
      padding-bottom: 10px;
      font-size: 18px;
      color: #fff;
      font-weight: 800;
      border-bottom: transparent 2px solid;
      transition: all 0.3s ease-out;

      &:hover {
        border-bottom: #fff 2px solid;
      }
    }

    .active {
      border-bottom: #fff 2px solid;
    }
  }

  .earthContainer {
    cursor: pointer;
    p {
      font-size: 16px;
      padding: 0 20px 0 15px;
      color: #fff;
    }
  }

  .loginBtn {
    border: #fff 2px solid;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    background-color: transparent;
    border-radius: 8px;
    width: 120px;
    padding: 8px 0;
    cursor: pointer;
  }

  .loginBtn:hover {
    color: #265b51;
    background-color: #fff;
    transition: 0.3s;
  }

  .registerBtn {
    border: #fff 2px solid;
    color: #265b51;
    font-size: 16px;
    font-weight: 800;
    background-color: #fff;
    border-radius: 5px;
    width: 120px;
    padding: 8px 0;
    margin-left: 20px;
    cursor: pointer;
  }

  .registerBtn:hover {
    color: #fff;
    background-color: transparent;
    transition: 0.3s;
  }
}

nav,
.btnContainer,
.earthContainer,
main {
  display: flex;
  align-items: center;
}

@media (max-width: 1140px) {
  nav {
    display: none;
  }

  // 還要再新增漢堡選單
}