
/* define primary colors */
$bgcolor: #eee;
$textcolor: #FFF1CB;
$fontsize: 16px;
/* hover color */
$primary_1: #a2b9bc;
/* h1 color */
$primary_2: #b2ad7f;
$bordercolor: #FFF1CB;
$btn-color: #904118;
$tagcolor: #a1b8bb;

// RWD斷點
// 大型設備，設定min-width
$media--993: "min-width:993px";
$media-1024: "max-width:1024px";
// 中
$media-820: "max-width:820px";
$media-768: "max-width:768px";
// 小
$media-640: "max-width:640px";
$media-576: "max-width:576px";